pip
ftfy
regex
pandas==1.1.5
numpy==1.19.5
tqdm==4.55.2
fastapi==0.61.2
uvicorn==0.11.8
streamlit
nltk==3.7
pybase64
pdfplumber
PyPDF2
moviepy
jellyfish
matplotlib
gTTS
bs4
sentencepiece
torch>=1.7.0,!=1.8.0
transformers==4.16.2
pytorch-lightning==1.5.10
